<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <form action="/signup" method="post">
        <label for="userName">User Name</label>
        <input type="text" id="userName" name="userName">
        <label for="password">Password</label>
        <input type="text" id="password" name="password">
        <label for="firstName">First Name</label>
        <input type="text" id="firstName" name="firstName">
        <label for="lastName">Last Name</label>
        <input type="text" id="lastName" name="lastName">
        <label for="bio">Bio</label>
        <input type="text" id="bio" name="bio">
        <label for="dateOfBirth">Date Of Birth</label>
        <input type="text" id="dateOfBirth" name="dateOfBirth">

        <input type="submit">
    </form>
</body>
</html>